aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
multidict==4.5.2
psycopg2==2.7.7
psycopg2-binary==2.7.7
py-postgresql==1.2.1
requests==2.20.1
telepot==12.7
urllib3==1.26.5
Wikipedia-API==0.3.7
yarl==1.2.6
